main {
  padding: 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0px;
}
.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__img img {
  width: 60px;
}

.item-list__info-title {
  font-size: 12px;
}

.item-list__info-time {
  font-size: 7px;
  color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
  font-size: 8px;
  font-weight: bold;
}

.item-list__info {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.write-btn {
  position: fixed;
  bottom: 90px;
  right: 10px;
  border-radius: 20px;
  background-color: #fe6f0f;
  padding: 10px 15px;
  color: white;
  font-size: 13px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.write-btn:hover {
  background-color: rgba(254, 111, 15, 0.8);
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}

@media screen and (max-width: 600px) {
  .media-info-msg {
    display: none;
  }
}

.new-chat__button {
  margin-top: 10px;
  margin-left: -3px;
  cursor: pointer;
}
