.chat-box {
  width: 150px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.p {
  padding-left: 70px;
  border: 1px solid gray;
  background-color: aliceblue;
  border-radius: 7px;
}
